@import "css/modal.css";
@import "css/buttons.css";
@import "css/form.css";
@import "css/header.css";

* {
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body.black {
    background-color: black;
    color: white;
}

body.white {
    background-color: white;
    color: black;
}

.svg_icon {
    fill: #444;
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.svg_icon:hover {
    opacity: 1;
    fill: #000;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}