body {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body.black {
    background-color: black;
    color: white;
}

body.white {
    background-color: white;
    color: black;
}

.site_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: black;
}

.site_header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1024px;
    max-width: 1164px;
}

.header_left {
    display: flex;
}

.logo_container {
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 32px;

}

.logo_container a {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.header_navigation {
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.header_navigation .navigation_item {
    font-size: 18px;
    margin-right: 16px;
}

.header_navigation .navigation_item a {
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.3s;
}

.header_navigation .navigation_item a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header_controls {

}

.header_controls button {
    margin-right: 16px;
    background: none;
    color: white;
    font-size: 18px;
    padding: 6px 24px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
    border-radius: 6px;
}

.header_controls button:hover {
    opacity: 1;
}

.header_controls .sign_in {

}

.header_controls .sign_up {
    background: orange;
    border: none;
}